body {

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    width:100%;

}
.card1 , .card2 , .card3 , .card4, .card5 {

    margin: 50px;
}
.header {
    flex: 0 0 20%;
   align-items: center;
text-align: center;
}
input{
    margin-top: 50px;
}
canvas{
    height: 100px;
    width: 300px;
}
.chart{
    flex: 0 0 20%;
    height: 100px;
    width: 300px;
}